.footer {
    display: flex;

    padding: 16px 8px;
    justify-content: center;
    gap: 8px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.05);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

}

.footer__content {
    color: var(--Secondary-550, #A4A4A4);
    font-family: Kanit;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: 0.28px;
}

@media (max-width: 1440px) {}

@media (max-width: 1024px) {}

@media (max-width: 820px) {
    .footer {
        display: none;
    }
}

@media (max-width: 480px) {
    .footer {
        display: none;
    }
}

@media (max-width: 380px) {
    .footer {
        display: none;
    }
}